body {
  margin: 0;
  line-height: normal;
}
.nav-text{
  color: white;
  text-decoration: none;
}
.nav-text:hover{
  color: blue;
}
.header-child {
  height: 91px;
  width: 1440px;
  position: relative;
  background-color: #000;
  display: none;
  max-width: 100%;
}

.about,
.contact1,
.portfolio,
.services {
  position: relative;
  z-index: 1;
}
.f-r-a-m-e-a,
.f-r-a-m-e-b {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.f-r-a-m-e-b {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 20.7px;
  color: #fff;
  font-family: "Average Sans";
}
.f-r-a-m-e-a {
  width: 397px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 11px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.sign-in-frame-child {
  height: 49px;
  width: 131px;
  position: relative;
  border-radius: 25px;
  background-color: #4ba3f5;
  display: none;
}
.sign-in {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
  z-index: 2;
}
.header,
.sign-in-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.sign-in-frame {
  height: 49px;
  border-radius: 25px;
  background-color: #4ba3f5;
  justify-content: flex-start;
  padding: 1px 15px 20px 22px;
  white-space: nowrap;
  z-index: 1;
}
.header {
  align-self: stretch;
  background-color: #000;
  justify-content: space-between;
  padding: 21px 43px 21px 80px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: "Average Sans";
}
.contact-details-frame-child {
  width: 294px;
  height: 388px;
  position: relative;
  border-radius: 6px;
  display: none;
}
.contact-information {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.say-something-to {
  position: relative;
  font-size: 10.8px;
  color: #c9c9c9;
  white-space: nowrap;
  z-index: 1;
}
.live-chat-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.8px 0;
}
.bxsphone-call-icon {
  height: 14.4px;
  width: 14.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 14px;
  z-index: 1;
}
.text-field-frame {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.location-text-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 15px;
}
.icsharp-email-icon {
  height: 14.4px;
  width: 14.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 14px;
  z-index: 1;
}
.sathawaraharsh14gmailcom {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.mailicon-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 15px;
}
.carbonlocation-filled-icon {
  height: 14.4px;
  width: 14.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.dartmouth-street-boston {
  flex: 1;
  position: relative;
  z-index: 1;
}
.contact-info-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 15px;
}
.location-frame,
.social-media-links-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px 0;
}
.social-media-links-frame {
  align-self: stretch;
  padding: 0 0 1.4210854715202004e-14px;
}
.location-frame {
  width: 202.1px;
  padding: 0 0 29.399999999999977px;
  box-sizing: border-box;
  font-size: 9.6px;
}
.group-frame-clarity-child {
  min-height: 18px;
}
.group-frame-clarity-child,
.group-frame-social-icons-child {
  height: 18px;
  width: 18px;
  position: relative;
  z-index: 1;
}
.claritycursor-hand-click-line-icon {
  height: 14.4px;
  width: 14.4px;
  position: absolute;
  margin: 0 !important;
  right: -4.2px;
  bottom: -12px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.group-frame-social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.group-frame-clarity-item {
  height: 18px;
  width: 18px;
  position: relative;
  min-height: 18px;
  z-index: 1;
}
.contact-details-frame,
.group-frame-clarity {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 14.4px;
}
.contact-details-frame {
  width: 294px;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 24px 23.39px 5px;
  box-sizing: border-box;
  gap: 66.7px 0;
  background-image: url(./public/contact-details-frame@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 294px;
}
.name {
  width: 47.26%;
  top: 0;
  right: 52.74%;
  bottom: 89.69%;
  left: 0;
  justify-content: flex-start;
}
.mail-adress,
.name,
.subject,
.surname {
  border: 0;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.6);
  height: 10.31%;
  margin: 0 !important;
  position: absolute;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(57, 57, 57, 0.25) inset;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: Merienda;
  font-size: 12px;
  color: #5a5757;
}
.surname {
  width: 47.26%;
  top: 0;
  right: 0.19%;
  bottom: 89.69%;
  left: 52.55%;
  justify-content: flex-start;
}
.mail-adress,
.subject {
  left: 0;
}
.mail-adress {
  width: 100%;
  top: 13.66%;
  right: 0;
  bottom: 76.03%;
  justify-content: flex-start;
}
.subject {
  width: 99.81%;
  top: 27.32%;
  right: 0.19%;
  bottom: 62.37%;
}
.form,
.message,
.subject {
  justify-content: flex-start;
}
.message {
  border: 0;
  background-color: rgba(255, 255, 255, 0.6);
  height: 200px;
  width: 100%;
  outline: 0;
  margin: 0 !important;
  position: absolute;
  top: 40.98%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(57, 57, 57, 0.25) inset;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: Merienda;
  font-size: 12px;
  color: #5a5757;
}
.form {
  height: 388px;
  width: 529px;
  flex-wrap: wrap;
  position: relative;
  gap: 13px 25px;
  min-width: 529px;
}
.about-us-frame,
.form,
.frame-c {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-c {
  width: 1129px;
  justify-content: space-between;
  gap: 20px;
}
.about-us-frame {
  width: 1365px;
  justify-content: center;
  
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 16.8px;
  color: #fff;
  font-family: Poppins;
}
.social-icon {
  width: 23px;
  height: 39.4px;
  position: relative;
}
.social-frame-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3.2999999999999545px;
}
.social-icon1,
.social-icon2 {
  height: 46px;
  width: 46px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 46px;
}
.social-icon2 {
  width: 55.9px;
}
.social-icon3 {
  width: 42.7px;
  height: 39.4px;
  position: relative;
  object-fit: cover;
}
.social-frame-link1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3.2999999999999545px;
}
.social-icon4 {
  width: 42.7px;
  height: 39.4px;
  position: relative;
  object-fit: cover;
}
.social-frame-link2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3.2999999999999545px;
}
.social-icon5 {
  align-self: stretch;
  height: 39.4px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.social-frame-link3 {
  width: 55.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3.2999999999999545px;
  box-sizing: border-box;
}
.frame-frame-group-social {
  width: 397.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.all-rights-reserved {
  margin-top: -5px;
  position: relative;
}
.copyright,
.frame-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.copyright {
  height: 16px;
  justify-content: flex-start;
}
.frame-footer {
  width: 397px;
  justify-content: center;
  max-width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  background-color: rgba(255, 255, 255, 0.26);
  align-items: center;
  padding: 34px 20px 37px;
  box-sizing: border-box;
  gap: 40px 0;
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: "Average Sans";
}
.contact {
  width: 100%;
  position: relative;
  overflow: hidden;
  gap: 186px 0;
  letter-spacing: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(180deg, #60eecc, #2c5f8f);
}
@media screen and (max-width: 900px) {
  .header {
    padding-left: 40px;
    padding-right: 21px;
    box-sizing: border-box;
  }
  .contact-details-frame,
  .form {
    flex: 1;
  }
  .frame-c {
    flex-wrap: wrap;
  }
  .contact {
    gap: 93px 0;
  }
}
@media screen and (max-width: 675px) {
  .f-r-a-m-e-a {
    display: none;
  }
  .form {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .contact-details-frame {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .frame-frame-group-social {
    flex-wrap: wrap;
    justify-content: center;
  }
  .all-rights-reserved {
    font-size: 16px;
  }
  .footer {
    gap: 20px 0;
  }
  .contact {
    gap: 46px 0;
  }
}
