body {
  margin: 0;
  line-height: normal;
}
.nav-text{
  color: white;
  text-decoration: none;
}
.nav-text:hover{
  color: blue;
}
.header-child {
  height: 91px;
  width: 1440px;
  position: relative;
  background-color: #000;
  display: none;
  max-width: 100%;
}
.about {
  position: relative;
  z-index: 1;
}
.contact,
.portfolio,
.services {
  flex: 1;
  position: relative;
  z-index: 1;
}
.services-portfolio-contact {
  margin: 0;
  width: 397px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 46px;
  max-width: 100%;
  text-align: left;
  font-size: 20.7px;
  color: #fff;
  font-family: "Average Sans";
}
.sign-in-text-child {
  height: 49px;
  width: 131px;
  position: relative;
  border-radius: 25px;
  background-color: #4ba3f5;
  display: none;
}
.sign-in {
  margin: 0;
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
  z-index: 2;
}
.header,
.header-frame,
.sign-in-text {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.sign-in-text {
  height: 49px;
  width: 131px;
  border-radius: 25px;
  background-color: #4ba3f5;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1px 8px 20px 22px;
  white-space: nowrap;
  z-index: 1;
}
.header,
.header-frame {
  max-width: 100%;
}
.header {
  flex: 1;
  background-color: #000;
  align-items: center;
  justify-content: space-between;
  padding: 21px 43px 21px 80px;
  gap: 20px;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: "Average Sans";
}
.header-frame {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 6px;
  top: 0;
  z-index: 99;
  position: sticky;
}
.hi-im-harsh {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  flex-shrink: 0;
}
.profile-frame {
  width: 256px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 34px;
  box-sizing: border-box;
}
.website-design-app {
  height: 139.7px;
  width: 618.5px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.checkout-resume-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 13px 0 10px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.ui,
.web-designer {
  text-decoration: underline;
}
.a-junior-ui-container {
  width: 641.7px;
  height: 88.6px;
  position: relative;
  font-size: 24.3px;
  color: #5f5f5f;
  display: inline-block;
  flex-shrink: 0;
}
.hire-me-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 12px;
  box-sizing: border-box;
  gap: 40px 0;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: 56.7px;
}
.btn-primary-child {
  height: 68.5px;
  width: 212.9px;
  position: relative;
  border-radius: 40.53px;
  background-color: #0c0c0c;
  display: none;
}
.hire-me {
  width: 98.7px;
  position: relative;
  font-size: 24.3px;
  font-family: "Average Sans";
  color: #fff;
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.btn-primary,
.resume-frame {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.btn-primary {
  cursor: pointer;
  border: 0;
  padding: 20px 19px 19px;
  background-color: #0c0c0c;
  width: 213px;
  border-radius: 40.53px;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}
.btn-primary:hover {
  background-color: #404040;
}
.resume-frame {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px 84px;
  gap: 40px 0;
  max-width: 100%;
  flex-shrink: 0;
}
.checkout-my-resume {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.social-links-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 13px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child {
  width: 1105px;
  height: 478px;
  position: relative;
  border-radius: 25px;
  background-color: rgba(217, 217, 217, 0.26);
  display: none;
  max-width: 100%;
}
.profile-icon {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.profile-frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 2px;
}
.front-end-developerweb,
.harsh-sathawara {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.harsh-sathawara {
  align-self: stretch;
  height: 36.9px;
}
.front-end-developerweb {
  height: 31px;
  font-size: 20px;
}
.download-resume-button,
.harsh-info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.harsh-info-text {
  align-self: stretch;
  gap: 13px 0;
}
.download-resume-button {
  width: 306px;
}
.social-links-frame-child {
  height: 45px;
  width: 148px;
  position: relative;
  border-radius: 29.61px;
  background-color: rgba(217, 217, 217, 0.4);
  border: 1.2px solid #000;
  box-sizing: border-box;
  display: none;
}
.download-cv {
  position: relative;
  font-size: 20px;
  font-family: "Average Sans";
  color: #000;
  text-align: left;
  z-index: 2;
}
.social-links-frame {
  cursor: pointer;
  border: 1.2px solid #000;
  padding: 12px 11px 12px 17px;
  background-color: rgba(217, 217, 217, 0.4);
  border-radius: 29.61px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  z-index: 1;
}
.social-links-frame:hover {
  background-color: rgba(191, 191, 191, 0.4);
  border: 1.2px solid #333;
  box-sizing: border-box;
}
.footer-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 0;
}
.copyright-text,
.rectangle-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent {
  align-self: stretch;
  border-radius: 25px;
  background-color: rgba(217, 217, 217, 0.26);
  padding: 107px 75px 100px 20px;
  gap: 46px;
  font-size: 43.2px;
  color: #000;
}
.copyright-text {
  width: 1145px;
  padding: 0 20px;
  gap: 38px 0;
  text-align: left;
  font-size: 48px;
  color: #050505;
  font-family: "Average Sans";
}
.social-icon {
  height: 39.4px;
  width: 23px;
  position: relative;
}
.social-icon1,
.social-icon2 {
  height: 46px;
  width: 46px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 46px;
}
.social-icon2 {
  width: 55.9px;
}
.social-icon3,
.social-icon4 {
  height: 39.4px;
  width: 42.7px;
  position: relative;
  object-fit: cover;
}
.social-icon5 {
  height: 39.4px;
  width: 55.9px;
  position: relative;
}
.social-networks {
  width: 398px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 7px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
}
.all-rights-reserved {
  margin-top: -5px;
  margin-bottom: -5px;
  position: relative;
}
.copyright {
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0;
  box-sizing: border-box;
}
.footer,
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-family: "Average Sans";
}
.footer {
  align-self: stretch;
  background-color: rgba(255, 255, 255, 0.26);
  padding: 34px 34px 37px;
  box-sizing: border-box;
  gap: 40px 0;
  max-width: 100%;
  font-size: 20px;
  color: #000;
}
.main-page {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #60eecc 1.5%, #2c5f8f);
  overflow: hidden;
  gap: 172px 0;
  letter-spacing: normal;
  font-size: 27px;
  color: #0c0c0c;
}
@media screen and (max-width: 750px) {
  .header {
    padding-left: 40px;
    padding-right: 21px;
    box-sizing: border-box;
  }
  .website-design-app {
    font-size: 45px;
  }
  .resume-frame {
    gap: 20px 0;
  }
  .checkout-my-resume {
    font-size: 38px;
  }
  .harsh-sathawara {
    font-size: 35px;
  }
  .main-page {
    gap: 86px 0;
  }
}
@media screen and (max-width: 675px) {
  .services-portfolio-contact {
    display: none;
  }
  .hire-me-text {
    gap: 20px 0;
  }
  .rectangle-parent,
  .resume-frame {
    padding-bottom: 55px;
    box-sizing: border-box;
  }
  .rectangle-parent {
    padding-top: 70px;
    padding-bottom: 65px;
  }
  .copyright-text {
    gap: 19px 0;
  }
  .footer {
    gap: 20px 0;
  }
}
@media screen and (max-width: 450px) {
  .services-portfolio-contact {
    gap: 0 23px;
  }
  .hi-im-harsh {
    font-size: 22px;
  }
  .website-design-app {
    font-size: 34px;
  }
  .a-junior-ui-container {
    font-size: 19px;
  }
  .checkout-my-resume {
    font-size: 29px;
  }
  .harsh-sathawara {
    font-size: 26px;
  }
  .front-end-developerweb {
    font-size: 16px;
  }
  .rectangle-parent {
    gap: 23px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .social-networks {
    flex-wrap: wrap;
    justify-content: center;
  }
  .all-rights-reserved {
    font-size: 16px;
  }
  .main-page {
    gap: 43px 0;
  }
}
